

@media (max-width: 720px) {

	body{
		width: 98%;
		min-width: 0;
		margin: 0 auto;
	}

	header{
		width: 98%;
		height: 4em;
	}

	.empty{
		display: block;
	}


	.list-btn{
		display: block;
	}

	.list2, .side{
		margin: 4em 0 0 0;
		height: 100%;
		padding: 1em;
		top: 0;
	}

	.list2{
		position: fixed;
		background-color: #278;
		width: 49%;
		right: -50%;
		transition: all 0.4s ease 0s;
	}

	.side{
		position: fixed;
		background-color: #278;
		width: 49%;
		left: -50%;
		transition: all 0.4s ease 0s;
	}

	.all{
		grid-template-columns: 1fr;
	}

	.sections{
		grid-template-columns: 1fr 1fr;
	}

	.main{
		height: 12em;
		grid-template-columns: 1fr;
	}

	.side.active{
		transition: all 0.4s ease 0s;
		left: 1%;
	}

	.list2.active{
		transition: all 0.4s ease 0s;
		right: 1%;
		z-index: 5;
	}

}