@import "nullstyle.scss";

		body{
			position: relative;
		}

		header{
			position: fixed;
			width: 100%;
			display: flex;
            justify-content: space-between;
			background-color: #777;
			height: 5em;
			align-items: center;
			padding: 1em;
		}

		.empty{
			display: none;
		}

		.list2{
			padding: 1em;
		}

		.sections{
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-gap: 1em;
			margin: 1em 0 0;
		}

		.sect{
			background-color: #666;
			text-align: center;
		}

		.sect img{
			width: 80%;
		}


		.all{
			position: relative;
			top: 4em;
			display: grid;
			grid-template-columns: 1fr 7fr;
			background-color: #999;
		}

		.main{
			display: grid;
			grid-template-columns: 5fr 1fr;
			background-color: #888;
			margin: 1em 0 0;
		}

		.sale{
			background-color: #363;
		}

		.info{
			background-color: #555;
			margin: 1em;
		}

		.list1{
			padding: 1em;
			margin: 0 1em 0 0;
		}

		footer{
			background-color: #888;
			text-align: center;
		}

		.list-btn{
			display: none;
			position: fixed;
			top: 0.5em;
			left: 1em;
			z-index: 10;
			width: 3em;
			height: 3em;
			border-radius: 50%;
			background-color: black;
			color: white;
		}

		.list-btn:before,
		.list-btn:after,
		.list-btn span{
			transition: all 0.4s ease 0s;
			content: "";
			display: block;
			width: 60%;
			height: 1.5px;
			margin: 0 auto;
			background-color: white;
		}
		
		.list-btn:before{
			position: relative;
			top: 0.8em;
		}

		.list-btn span{
			position: relative;
			top: 1.3em;
		}
		
		.list-btn:after{
			position: relative;
			top: 1.8em;
		}

		.list-btn.active{
			&:before{
				transform:rotate(45deg);
				top: 1.4em;
				height: 3px;
				transition: all 0.4s ease 0s;
			}
			&:after{
				transform:rotate(-45deg);
				top: 1.25em;
				height: 3px;
				transition: all 0.4s ease 0s;
			}
			span{
				display: none;
				transition: all 0.4s ease 0s;
			}
		}

		@import "media.scss";