@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  position: relative;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #777;
  height: 5em;
  align-items: center;
  padding: 1em;
}

.empty {
  display: none;
}

.list2 {
  padding: 1em;
}

.sections {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  margin: 1em 0 0;
}

.sect {
  background-color: #666;
  text-align: center;
}

.sect img {
  width: 80%;
}

.all {
  position: relative;
  top: 4em;
  display: grid;
  grid-template-columns: 1fr 7fr;
  background-color: #999;
}

.main {
  display: grid;
  grid-template-columns: 5fr 1fr;
  background-color: #888;
  margin: 1em 0 0;
}

.sale {
  background-color: #363;
}

.info {
  background-color: #555;
  margin: 1em;
}

.list1 {
  padding: 1em;
  margin: 0 1em 0 0;
}

footer {
  background-color: #888;
  text-align: center;
}

.list-btn {
  display: none;
  position: fixed;
  top: 0.5em;
  left: 1em;
  z-index: 10;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: black;
  color: white;
}

.list-btn:before,
.list-btn:after,
.list-btn span {
  transition: all 0.4s ease 0s;
  content: "";
  display: block;
  width: 60%;
  height: 1.5px;
  margin: 0 auto;
  background-color: white;
}

.list-btn:before {
  position: relative;
  top: 0.8em;
}

.list-btn span {
  position: relative;
  top: 1.3em;
}

.list-btn:after {
  position: relative;
  top: 1.8em;
}

.list-btn.active:before {
  transform: rotate(45deg);
  top: 1.4em;
  height: 3px;
  transition: all 0.4s ease 0s;
}
.list-btn.active:after {
  transform: rotate(-45deg);
  top: 1.25em;
  height: 3px;
  transition: all 0.4s ease 0s;
}
.list-btn.active span {
  display: none;
  transition: all 0.4s ease 0s;
}

@media (max-width: 720px) {
  body {
    width: 98%;
    min-width: 0;
    margin: 0 auto;
  }

  header {
    width: 98%;
    height: 4em;
  }

  .empty {
    display: block;
  }

  .list-btn {
    display: block;
  }

  .list2, .side {
    margin: 4em 0 0 0;
    height: 100%;
    padding: 1em;
    top: 0;
  }

  .list2 {
    position: fixed;
    background-color: #278;
    width: 49%;
    right: -50%;
    transition: all 0.4s ease 0s;
  }

  .side {
    position: fixed;
    background-color: #278;
    width: 49%;
    left: -50%;
    transition: all 0.4s ease 0s;
  }

  .all {
    grid-template-columns: 1fr;
  }

  .sections {
    grid-template-columns: 1fr 1fr;
  }

  .main {
    height: 12em;
    grid-template-columns: 1fr;
  }

  .side.active {
    transition: all 0.4s ease 0s;
    left: 1%;
  }

  .list2.active {
    transition: all 0.4s ease 0s;
    right: 1%;
    z-index: 5;
  }
}